@import '~antd/lib/style/themes/default.less';

.content {
  margin: 24px;
  padding-top: @layout-header-height;
}
.sider_view{
  width: 50%;
}
.sider_card{
  margin-top: 100px;
  margin-left: 5px;
}
